# Firebase config - DO NOT TRACK THIS FILE!
src/main/resources/firebase/serviceAccountKey.json

# Output class files
*.class

# Logs
*.log

# BlueJ
*.ctxt

# J2ME tools
.mtj.tmp/

# Java packages
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# VM crash logs
hs_err_pid*
replay_pid*