# === Firebase config ===
# Do NOT track sensitive Firebase key file!
project1/src/main/resources/firebase/serviceAccountKey.json

# === Build output ===
target/
*.class

# === Logs ===
*.log

# === IDE-specific files ===
*.ctxt        # BlueJ
.mtj.tmp/     # J2ME Mobile Tools

# === Java package archives ===
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# === VM crash logs ===
hs_err_pid*
replay_pid*
